body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

h1 {
  text-align: center;
  margin-top: 3rem;
}

footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
  font-weight: 800;
}

#graph-container {
  border: #b0b0b0 1px solid;
  height: 70vh;
  overflow: hidden;
}
