name: Check TypeScript projects
on:
  workflow_dispatch:
  schedule:
    - cron: '5 4 * * 1'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/check-typescript-projects.yml'
      - '.nvmrc'
      - 'projects/parcel-ts/**/*'
      - 'projects/rollup-ts/**/*'
      - 'projects/vitejs-ts/**/*'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/check-typescript-projects.yml'
      - '.nvmrc'
      - 'projects/parcel-ts/**/*'
      - 'projects/rollup-ts/**/*'
      - 'projects/vitejs-ts/**/*'

jobs:
  build_maxgraph_package:
    runs-on: ubuntu-22.04
    steps:
     - uses: actions/checkout@v3
       with:
         repository: 'maxGraph/maxGraph'
     - name: Setup node
       uses: actions/setup-node@v3
       with:
         node-version-file: '.nvmrc'
     - name: Install dependencies
       run: npm install
     - name: Build package
       working-directory: packages/core
       run: npm pack
     - name: Upload npm package
       uses: actions/upload-artifact@v3
       with:
         name: maxgraph-npm-package
         path: |
           packages/core/maxgraph-core-*.tgz

  build_example:
    runs-on: ubuntu-22.04
    needs: [build_maxgraph_package]
    strategy:
      # don't cancel running jobs even if one fails
      fail-fast: false
      matrix:
        project: [parcel-ts, rollup-ts, vitejs-ts]
        npm-package: ['release', 'development']
    defaults:
      run:
        working-directory: ${{github.workspace}}/projects/${{matrix.project}}
    steps:
      - name: Download the maxgraph npm package
        if: ${{ matrix.npm-package == 'development' }}
        id: 'download'
        uses: actions/download-artifact@v3
        with:
          name: maxgraph-npm-package
          path: ${{github.workspace}}/../maxgraph-npm-package
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        uses: bahmutov/npm-install@v1
        with:
          install-command: npm ci --prefer-offline --audit false --ignore-scripts
          working-directory: ${{github.workspace}}/projects/${{matrix.project}}
      - name: Install dependencies
        run: npm install
      - name: Install maxgraph development npm package
        if: ${{ matrix.npm-package == 'development' }}
        # use wildcard as the file contains the version, and we don't know it
        run: npm install ${{steps.download.outputs.download-path}}/maxgraph-core*.tgz
      - name: Build project
        run: npm run build
